.game {  
    width: 900px;
    height: 600px;  
    margin: 30px auto 20px auto; 
    position: relative;
    overflow: hidden;
      
    background-image: url("/assets/img/background.png");
    background-size:contain;
    background-repeat: repeat-x;  
    
    animation: animacao-background 25s infinite linear;  
    -webkit-animation: animacao-background 25s infinite linear;
    -moz-animation: animacao-background 25s infinite linear;
    -ms-animation: animacao-background 25s infinite linear;
    -o-animation: animacao-background 25s infinite linear;
}

.pontuacao {
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 25px;  
    color: white;
}
  
.iniciarJogo {
    position: absolute;   
    display: flex;
    flex-direction: column;   
    left: 15%;
    right: 15%;
    top: 30%;    
    align-items: center;    
}
  
.mensagem{
    position: relative;
    text-align: center;
    font-size: x-large;    
    margin-bottom: 40px;
    color: white;
}
  
.btn-iniciar {      
    padding: 10px 20px;  
    font-size: x-large;  
    text-align: center;
      
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color:#c62d1f;
    border: 0 solid #8a2a21;
    border-radius:7px;  
    cursor:pointer;
    color:#ffffff;
    outline: none;
}
.btn-iniciar:hover {
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color:#f24437;
}
button:active {
    transform: scale(0.95);
    transition: 0.5s;
} 

.jogador {
    position: absolute;
    background-image: url("/assets/img/jogador.png");
    background-size: cover;
}

.tiro {
    position: absolute;        
    background-image: url("/assets/img/tiro.png");
    background-size: cover;
}

.inimigo {
    position: absolute;
    background-size: cover;    
}

.explosao {
    position: absolute;    
    background-size: cover;    
    width: 90px; 
    height: 90px;    
    background-image: url("/assets/img/explosao.png");    

    animation: animacao-explosao .5s steps(5) infinite; 
    -webkit-animation: animacao-explosao .5s steps(5) infinite;
    -moz-animation: animacao-explosao .5s steps(5) infinite;
    -ms-animation: animacao-explosao .5s steps(5) infinite;
    -o-animation: animacao-explosao .5s steps(5) infinite;
}


/* Animações */
.animacao-vivo {
    background-image: url("/assets/img/jogador.png");
    
    animation: animacao-vivo 1s steps(8) infinite;
    -webkit-animation: animacao-vivo 1s steps(8) infinite;
    -moz-animation: animacao-vivo 1s steps(8) infinite;
    -ms-animation: animacao-vivo 1s steps(8) infinite;
    -o-animation: animacao-vivo 1s steps(8) infinite;
  }
  
.animacao-morto {
    background-image: url("/assets/img/jogador-morto.png");  
}  
 

@keyframes animacao-vivo {
    from { background-position-x: 0%; }
    to { background-position-x: 800%; }  
} 

@keyframes animacao-background {  
    from { background-position: 400%; }
    to { background-position: 0%; }
}

@keyframes animacao-inimigo-1 {
    from { background-position-x: 0%; }
    to { background-position-x: 300%; }  
}

@keyframes animacao-inimigo-2 {
    from { background-position-x: 0%; }
    to { background-position-x: 400%; }  
}

@keyframes animacao-inimigo-3 {
    from { background-position-x: 0%; }
    to { background-position-x: 600%; }  
}

@keyframes animacao-explosao {
    from { background-position-x: 0%; opacity: 1; }
    to { background-position-x: 500%; opacity: 0; }  
}