<div class="game">  

  <div class="iniciarJogo" *ngIf="fimDeJogo">
    <div class="mensagem" *ngIf="fimDeJogo">
      {{ exibirMsgPerdeu? 'Você perdeu =(' : 'Instruções: Não deixe os inimigos passarem! Use as setas do teclado para se mover e atire com a tecla "espaço"' }}
    </div>
    <button type="button" class="btn-iniciar" (click)="iniciarJogo()">Clique aqui para jogar!</button>
  </div>
   
  <div class="pontuacao">Pontuação: {{ pontuacao }}</div>
  
  <div class="jogador" [ngStyle]="configurarEstilosPlayer()"></div>    
  
  <div class="tiro" *ngIf="estaAtirando" [ngStyle]="configurarEstilosTiro()"></div>
  
  <div class="inimigo" *ngFor="let inimigo of inimigos" [ngStyle]="configurarEstilosInimigo(inimigo)" ></div>
  
</div>