<div class="game">  

  <div class="inimigoTeste"></div>

  <div class="iniciarJogo" *ngIf="fimDeJogo">
    <div class="mensagem" *ngIf="fimDeJogo">
      {{ exibirMsgPerdeu? 'Você perdeu =(' : 'Instruções: Não deixe os inimigos passarem! Use as setas do teclado para se mover e atire com a tecla "espaço"' }}
    </div>
    <button type="button" class="btn-iniciar" (click)="iniciarJogo()">Clique aqui para jogar!</button>
  </div>
   
  <div class="pontuacao">Pontuação: {{ pontuacao }}</div>
  
  <div class="jogador {{animacaoPlayer}}" [ngStyle]="configurarEstilosPlayer()"></div>      
  
  <div class="tiro" *ngIf="estaAtirando" [ngStyle]="configurarEstilosTiro()"></div>  
  
  <div *ngFor="let inimigo of inimigos" class="inimigo" [ngStyle]="configurarEstilosInimigo(inimigo)"></div>  
  
  <div class="explosao" 
    *ngIf="(animacaoExplosao === 'running')"
    [style.animation-play-state]="animacaoExplosao" 
    style.left="{{ explosaoLeft }}px" 
    style.bottom="{{ explosaoBottom }}px">
  </div>
  
</div>