.game {  
    width: 900px;
    height: 600px;  
    margin: 30px auto 20px auto; 
    position: relative;
    overflow: hidden;
  
    background-color: black;   
}

.pontuacao {
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 25px;  
    color: white;
}
  
.iniciarJogo {
    position: absolute;   
    display: flex;
    flex-direction: column;   
    left: 15%;
    right: 15%;
    top: 30%;    
    align-items: center;    
}
  
.mensagem{
    position: relative;
    text-align: center;
    font-size: x-large;    
    margin-bottom: 40px;
    color: white;
}
  
.btn-iniciar {      
    padding: 10px 20px;  
    font-size: x-large;  
    text-align: center;
      
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color:#c62d1f;
    border: 0 solid #8a2a21;
    border-radius:7px;  
    cursor:pointer;
    color:#ffffff;
    outline: none;
}
.btn-iniciar:hover {
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color:#f24437;
}
button:active {
    transform: scale(0.95);
    transition: 0.5s;
} 

.jogador {
    position: absolute;        
        
    background-color: #f24437;    
}

.tiro {
    position: absolute;        
    background-color: yellow;    
}

.inimigo {
    position: absolute;
   
    background-color: blue;   
}